[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "modules/erlang"]
	path = modules/erlang
	url = https://github.com/garethr/garethr-erlang.git
[submodule "modules/selinux"]
	path = modules/selinux
	url = https://github.com/jfryman/puppet-selinux.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/puppetlabs/puppetlabs-ntp.git
