[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "modules/erlang"]
	path = modules/erlang
	url = https://github.com/garethr/garethr-erlang.git
